<a href="https://colab.research.google.com/github/Usmanimaaz12/assignments/blob/Module-2/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#tutorial-5
import pandas as pd #pandas is data analysis tool ,deals with dataframes

In [9]:
import numpy as np

In [10]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=["column1","column2","column3","column4"])

In [11]:
df.head()

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [12]:
df.to_csv('test1.csv')

In [13]:
#accessing the elements
#   1==>   .loc     2==>  .iloc(index location)

In [14]:
df.loc['row1']

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int64

In [15]:
type(df.loc['row1'])

pandas.core.series.Series

In [16]:
df.iloc[:,:]

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [17]:
df.iloc[0:3,0:2]

      column1  column2
row1        0        1
row2        4        5
row3        8        9

In [18]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [19]:
#convert df into array
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [20]:
df.isnull()

      column1  column2  column3  column4
row1    False    False    False    False
row2    False    False    False    False
row3    False    False    False    False
row4    False    False    False    False
row5    False    False    False    False

In [21]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [25]:
df['column1'].value_counts()       #how many unique categories we have and how many times

0     1
4     1
8     1
12    1
16    1
Name: column1, dtype: int64

In [23]:
df['column1'].unique()   #unique values

array([ 0,  4,  8, 12, 16])

In [24]:
df[['column1','column3']]

      column1  column3
row1        0        2
row2        4        6
row3        8       10
row4       12       14
row5       16       18

In [27]:
#tutorial-6

In [28]:
#we will learn pandas read operations with example of mercedes dataset

In [38]:
df=pd.read_csv('test1.csv')

In [39]:
df

  Unnamed: 0  column1  column2  column3  column4
0       row1        0        1        2        3
1       row2        4        5        6        7
2       row3        8        9       10       11
3       row4       12       13       14       15
4       row5       16       17       18       19

In [40]:
df.head()

  Unnamed: 0  column1  column2  column3  column4
0       row1        0        1        2        3
1       row2        4        5        6        7
2       row3        8        9       10       11
3       row4       12       13       14       15
4       row5       16       17       18       19

In [41]:
df=pd.DataFrame(df)

In [42]:
df

  Unnamed: 0  column1  column2  column3  column4
0       row1        0        1        2        3
1       row2        4        5        6        7
2       row3        8        9       10       11
3       row4       12       13       14       15
4       row5       16       17       18       19

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      object
 1   column1     5 non-null      int64
 2   column2     5 non-null      int64
 3   column3     5 non-null      int64
 4   column4     5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 328.0+ bytes

In [44]:
df.describe()

         column1    column2    column3    column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [45]:
df2=pd.read_csv('/content/username-or-email.csv',sep=';')

In [46]:
df2

    Username         Login email  Identifier First name Last name
0   booker12  rachel@example.com        9012     Rachel    Booker
1     grey07                 NaN        2070      Laura      Grey
2  johnson81                 NaN        4081      Craig   Johnson
3  jenkins46    mary@example.com        9346       Mary   Jenkins
4    smith79   jamie@example.com        5079      Jamie     Smith

In [47]:
df2.isnull()

   Username  Login email  Identifier  First name  Last name
0     False        False       False       False      False
1     False         True       False       False      False
2     False         True       False       False      False
3     False        False       False       False      False
4     False        False       False       False      False

In [48]:
df2.describe()

        Identifier
count     5.000000
mean   5917.600000
std    3170.552523
min    2070.000000
25%    4081.000000
50%    5079.000000
75%    9012.000000
max    9346.000000

In [50]:
df[df['column1']>5]

  Unnamed: 0  column1  column2  column3  column4
2       row3        8        9       10       11
3       row4       12       13       14       15
4       row5       16       17       18       19

In [51]:
 df.to_csv()

',Unnamed: 0,column1,column2,column3,column4\n0,row1,0,1,2,3\n1,row2,4,5,6,7\n2,row3,8,9,10,11\n3,row4,12,13,14,15\n4,row5,16,17,18,19\n'

In [52]:
#pretty much simple pretty much easy

In [53]:
df['column1'][3]

12

In [56]:
df.dtypes

Unnamed: 0    object
column1        int64
column2        int64
column3        int64
column4        int64
dtype: object

In [58]:
#pd.read_csv(stringIO(data),index_col=0/1/2)       #column number is made as index

In [59]:
#
#tutorial-7======> reading JSON,HTML,PICKLE,EXCEL
#

In [61]:
#read json to csv   ====>js object notation

In [62]:
#pd.read_json(data)

In [63]:
#data.to_json